doctype html
html(lang="en")
  head
    title= "Phantasia"
    link(rel='stylesheet' href='/style.css')
  body
    h1
      span(class='c1') P
      span(class='c2') h
      span(class='c3') a
      span(class='c4') n
      span(class='c5') t
      span(class='c6') a
      span(class='c7') s
      span(class='c8') i
      span(class='c9') a
